#dpimg{
    height: 60px;
    width: 60px; 
    border: 2px solid;
}

#new-fixed-div{
    height: 45px;width: 45px; border-radius: 23px; position: fixed; right: 0px; bottom: 60px; background-color: rgb(20, 118, 175);padding: 8px;
}



img{
    border-radius: 15px
}

video{
    border-radius: 10px;
}
#buttons{
    border-radius: 30px; background:white;
}
